@font-face {
  font-family: "Unlimited Pro";
  src: url("fonts/unlimited_pro-medium-webfont.eot");
  src: url("fonts/unlimited_pro-medium-webfont.eot?#iefix") format("embedded-opentype"),
  url("fonts/unlimited_pro-medium-webfont.woff2") format("woff2"),
  url("fonts/unlimited_pro-medium-webfont.woff") format("woff"),
  url("fonts/unlimited_pro-medium-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Unlimited Pro";
  src: url("fonts/unlimited_pro-bold-webfont.eot");
  src: url("fonts/unlimited_pro-bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("fonts/unlimited_pro-bold-webfont.woff2") format("woff2"),
  url("fonts/unlimited_pro-bold-webfont.woff") format("woff"),
  url("fonts/unlimited_pro-bold-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html, body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header-strap {
  background: #3D3935;
  height: 75px;
}

.header-content {
  max-width: 980px;
  margin: 0 auto;
  white-space: nowrap;
}

.brand {
  color: white;
  font-family: "Unlimited Pro", Arial, sans-serif;
  display: inline-block;
  line-height: 75px;
  vertical-align: top;
  font-weight: 600;
  font-size: 26px;
  margin-left: 20px;
}

.header-divider-strap {
  background: #F58400;
  height: 10px;
  width: 100%;
}

.content {
  max-width: 980px;
  margin: 0 auto;
}

.intro {
  margin-top: 50px;
  margin-bottom: 20px;
}

.big-logos {
  float: right;
  margin-top: 12px;
}


@media (max-width: 900px) {
  .intro { text-align: center; }
  .big-logos { float: none; }
}

h1 {
  font-family: "Unlimited Pro", Arial, sans-serif;
  font-weight: 800;
  font-size: 34px;
  color: #3D3935;
}

h2 {
  font-family: "Unlimited Pro", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #41748D;
}

h3 {
  font-size: 13px;
  font-weight: bold;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.subtitle {
  font-size: 14px;
}

.well {
  background: #E8EBEC;
  border-radius: 7px;
  padding: 10px 40px;
  margin-bottom: 50px;
}

.footer-strap {
  background: #3D3935;
  height: 50px;
}

.footer-content {
  max-width: 980px;
  margin: 0 auto;
}

.footer-links {
  list-style-type: inline;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  color: white;
  font-size: 13px;
  line-height: 50px;
}

.footer-links li a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.footer-links li a:hover,
.footer-links li a:focus {
  text-decoration: underline;
}

.pre {
  font-family: monospace;
}

/* Simple css/d3 tree view implementation */
.tree-node
{
  display: block;
  transition: width 2s;
}

.expand::before
{
  content: "+ ";
}

.contract::before
{
  content: "- ";
}

.expand:hover, .contract:hover
{
  background: #DDEEFF;
}

.tree-node-body
{
  margin-left: 2em;
}

.hidden
{
  display: none;
}
